html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #212529; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(to bottom, #24263b, #565567, #8b8a97, #c4c3ca, #ffffff); */
  border-radius: 20px; /* roundness of the scroll thumb */
  background-color: #0077b6 ;
}

