.Contact {
    background-color: var(--mainColor);
    padding-bottom: 50px;
    .title {
        text-align: center;
        padding: 70px;
        font-size: 2rem;
    }
    p {
        text-align: center;
        font-size: 1.6rem;
        
    }
    
    .contain-contact {
        margin-top: 20px;
        display: flex;
        height: auto;
        flex-flow: row wrap;
        justify-content: center;
        
        
        .contain-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin: 30px;
        padding: 10px;
    }
    .icons {
        text-align: center;
    }
    
    .liens {
        font-size: 1.7rem; 
        text-align: center;
        // padding-top:10px ;
    }  

    }
    a {
        text-decoration: none;
    }
    .mail {
        font-size: 1.8rem;
        padding-left: 15px;
    }
    
    
    
}
