.Home {
//    position: relative;
//    top: 100px;
// max-width: 100vw;
min-width: 200px;
// border: 4px solid red;
    .acceuil {

        background-color: var(--mainColor);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }
    .home-contain {
        height: auto;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;
        // border: hotpink 2px solid;
    }
    .info {
        margin-right: 200px ;
        h1 {
            
            font-size: 2.5rem;
            padding-bottom: 20px;  
        }

        p {
            font-size: 2rem;
        }

    }
    .profile {
        max-height: 400px;
        min-width: 400px;
    }
    .section-button {
        display: flex;
    }
    .icons {
        margin-right: 20px;
        height: 30px;
        width: 30px;
        
    }
}
@keyframes test {
    0% {
        transform: scale(0.5);
    } 50% {
       transform: scale(1.2); 
    } 70% {
        transform: scale(0.8);
    } 100% { 
        transform: scale(1);
    }
}

@media only screen and (max-width: 972px) {
    .info {
        margin: 0 0 100px 0;
    }
    .home-contain {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // border: 2px solid pink;
       
    } 
}
@media only screen and (max-width: 504px) {
    .info {
        // border: 1px solid green;
        // margin-right: 0;
        margin-left: 200px;
        justify-content: center;
    }
    // img {
    //     height: 200px;
    //     width: 200px;
    // }
}
.home-icons {
    color: #d10000;
}

footer {
    background-color: rgb(31, 34, 53);

}
@media screen and (max-width: 524px) {
    *{
        margin: 0;
    }
    .home-contain{
        // max-width: 524px;
        padding-top: 0;
        align-items: center;
    }
    .profile {
        display: none;
    }
}