.Home {
   
    .acceuil {

        background-color: var(--mainColor);
        // height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .home-contain {
        height: auto;
        display: flex;
        
        align-items: center;
        justify-content: space-between;
        // gap: 200px;
        padding-top: 100px;
        // border: 1px solid white;
    }
    .info {
        margin-right: 200px ;
        h1 {
            // margin:25px ;
            font-size: 2.5rem;
            padding-bottom: 20px;
            
        }

        p {
            font-size: 2rem;
        }

    }
    img {
        height: 400px;
        width: 400px;
    }
    .section-button {
        display: flex;
    }
    .icons {
        margin-right: 20px;
        height: 30px;
        width: 30px;
        
    }
}
@keyframes test {
    0% {
        transform: scale(0.5);
    } 50% {
       transform: scale(1.2); 
    } 70% {
        transform: scale(0.8);
    } 100% { 
        transform: scale(1);
    }
}

@media only screen and (max-width: 972px) {
    .info {
        margin: 0 0 100px 0;
    }
    .home-contain {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        // padding-top: 50px;
        
    }
    
}
.home-icons {
    color: #d10000;
}