button {
    margin: 30px 10px 30px 0;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 130px;
    font-size: 1.3rem;
    background-color: var(--mainColor);
    border: 2px solid #d00000;
    cursor: pointer;
    transition: 300ms;
    font-weight: bold;
    &:hover {
        background-color: #d00000;
    }
}