.learn {
    
    background-image: linear-gradient(to left, #24263b, #231d2b, #1d151d, #140c10, #000000);
    
    width: 300px;
    height: 40px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .code {
        background-color: #000;
        height: 40px;
        width: 30px;
    }
    p {
        margin: 0 auto;
        font-size: 1.5rem;
        font-weight: 600;
    }
}