.NavBar {
    background-color: var(--secondColor);
    color: #fff;
    height: 100px;
    width: 100%;
    

.contain {
    display: flex;
    height: 100%;
    margin: 0 10%;
    // width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-between;
    
    .contain-nav {
        display: flex; 

    }
    .contain-item {
        list-style-type: none;
        margin: 0 20px;
        text-decoration: none;
        color: #fff;
        transition: 300ms;
        font-size: 1.5rem;
        &:hover {
            color:#d10000;
        }
    }
  }
}