.NavBar {
    background-color: var(--secondColor);
    color: #fff;
    min-height: 100px;
    // width: 100%;
    
.contain {
    display: flex;
    height: 100%;
    margin: 0 10%;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-between;
    
    .contain-nav {
        display: flex; 
    }
    .contain-item {
        list-style-type: none;
        margin: 0 20px;
        text-decoration: none;
        color: #fff;
        transition: 300ms;
        font-size: 1.5rem;
        position: relative;
        &::first-letter {
            color: #d10000;
            font-size: 1.8rem;       
         }
        &:hover {
            color:#d10000;
            
        }
        &::before {
            content: "";
            transition: 300ms;
            position: absolute;
            bottom: -10px;
            background-color: #d10000;
            width: 100%;
            height: 3px;
            transform: scale(0);
             
        }
        &:hover::before {
            transform: scale(1);
        }
    }
  }
  .photo-profile {
      height: 100px;
      width: 100px;
  }

//   .nav-burger {
//     display: flex;
//     flex-direction: column;
//     background: transparent;
//     border: none;
//     cursor: pointer;

    
//   .burger-bar {
//       border-radius: 5px;
//       margin-top: 5px;
//       height: 4px;
//       width: 30px;
//       background-color:#fff;

//       &:first-child{
//           width: 15px;
          
//       }
//       &:last-child{
//           width: 15px;
//           align-self: flex-end;
//       }
//   }

//   }
//   @media only screen and (max-width: 768px){
//       .contain-nav {
//         //   visibility: hidden;
//         display: block;
//          display: none;
//       }
//   }
}

 .navbar_burger {
      display: block;
      position: fixed;
      top:1rem;
      right: 1rem;
    }
    .navbar_burger:hover {
        cursor: pointer;
    }
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: white;
        transition: all .5s ease-in-out;
    }
    .burger-bar::before,
    .burger-bar::after {
    content:"";
    position: absolute;
    left: 0;
    }
    .burger-bar::before {
      transform: translateY(-12px);
    }
    .burger-bar::before {
      transform: translateY(12px);
    }
    .show-nav .burger-bar {
        width: 0;
        background: transparent;
    }
    .show-nav .burger-bar::before {
        transform: rotate(45deg);
    }
    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
    }
 
    .navbar_item {
        transform: translateY(90vh);
    }
    .show-nav .navbar_item {
        transform: translateY(0);
    }
    .show-nav .slideInDown-1 {
        transition: all 1s ease-out;
    }
    .show-nav .slideInDown-2 {
        transition: all 1.1s ease-out;
    }
    .show-nav .slideInDown-3 {
        transition: all 1.2s ease-out;
    }
    .show-nav .slideInDown-4 {
        transition: all 1.3s ease-out;
    }
    .show-nav .slideInDown-5 {
        transition: all 1.4s ease-out;
    }
