@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    --mainColor: #24263B;
    --secondColor: rgb(31, 34, 53);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #fff;
}

